.button {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
    background: #0278fe;
    border-radius: 4px;
    padding: 13px 20px;
    text-decoration: none;
    margin: 0;
    border: none;
    width: max-content;
    height: max-content;
    transition: background 0.4s ease-in;
}

.button:hover {
    background: #0063D2;
}

@media screen and (min-width: 320px) and (max-width:655px) {
    .button {
        margin: 0 16px;
        padding: 13px 40px;
    }
}