.footer {
    padding-bottom: 24px;
}

.footer__copyrights {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}