.gallery {
    margin: 118px auto 92px;
    max-width: 1184px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 16px;
}

.gallery__image {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .gallery {
        margin-top: 90px;
        margin-bottom: 88px;
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    }
}

@media screen and (min-width: 320px) and (max-width:665px) {
    .gallery {
        margin-top: 90px;
        margin-left: 16px;
        margin-bottom: 62px;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-gap: 12px;
        justify-content: center;
        align-items: center;
    }
    .gallery__image {
        max-width: 288px;
    }
}