.gallery {
    margin-top: 118px;
    margin-left: 48px;
    margin-bottom: 92px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
}

.gallery_image {
    width: 100%;
}