.introdaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introdaction__image {
    width: calc(100% - 148px*2);
    margin-top: 64px;
    filter: grayscale();
    object-fit: cover;
}

.introdaction__title {
    font-family: "Inter", Arial, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 91px 0 32px;
    max-width: 793px;
    /* min-width: 288px; */
}

.introdaction__description {
    font-family: "Inter", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    margin: 0;
    max-width: 793px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 1280px) {
    .introdaction__image {
        width: 984px;
    }
}

@media screen and (max-width: 768px) {
    .introdaction__title {
        max-width: 720px;
    }
    .introdaction__description {
        max-width: 720px;
    }
    .introdaction__image {
        width: 100%;
        margin-top: 36px;
    }
}

@media screen and (min-width: 320px) and (max-width:655px) {
    .introdaction__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (max-width: 320px) {
    .introdaction__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        margin: 50px 0 16px;
    }
    .introdaction__description {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}