.lead__title {
    margin: 92px 0 40px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    max-width: 785px;
    text-align: left;
    color: #FFFFFF;
}

.lead__quote {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 10px;
    max-width: 720px;
    min-width: 288px;
    color: #FFFFFF;
}

.lead__quote-cite {
    display: block;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    max-width: 720px;
    color: #FFFFFF;
}

.lead__paragraph {
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 720px;
    margin: 32px 0 0;
    color: white;
}

@media screen and (min-width: 1280px) {
    .lead {
        width: 984px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 88px 0 40px;
        max-width: 720px;
    }
}

@media screen and (max-width: 655px) {
    .lead__title {
        margin: 64px 0 40px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: calc(100% - 16px*2);
    }
    .lead__title {
        max-width: 288px;
    }
    .lead__quote {
        font-size: 24px;
        line-height: 30px;
        max-width: 288px;
    }
    .lead__quote-cite {
        max-width: 288px;
    }
    .lead__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 288px;
    }
}