.page {
    font-family: "Inter", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    background-color: #2A2C2F;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}