.page {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    background-color: #2A2C2F;
    min-width: 320px;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}