.section_type_narrow {
    width: calc(100% - 148px*2);
    margin: 0 auto;
}

@media screen and (max-width: 999px) {
    .section_type_narrow {
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 320px) {
    .section_type_narrow {
        width: 100%;
    }
}