@import url("../vendor/fonts/font.css");
@import url("../blocks/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/logo.css");
@import url("../blocks/introdaction.css");
@import url("../blocks/gallery.css");
@import url("../blocks/place.css");
@import url("../blocks/places.css");
@import url("../blocks/button.css");
@import url("../blocks/footer.css");
@import url("../blocks/section.css");
@import url("../blocks/lead.css");
@import url("../blocks/cover.css");
body {
    margin: 0;
}

html {
    margin: 0;
}